

.container {
    width: 70%;
    height: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(0, 0, 0);
    border-radius: 25px;
    box-shadow: 5px 5px 10px 7px rgb(178, 85, 85);
    position: absolute;
    margin-left: 230px;
    top: 200px;
    background: rgb(111, 19, 14);
}

.pht {
    float: right;
    height: 100%;
    border-radius: 25px;
}